<div class="footer user-footer">
	<div class="dsc-copyright">
		<div class="w w1200"> 
			<p class="footer-ecscinfo pb10"> 
				<a href="{:url('index/Index/index')}" >首页</a> | 				 
				<a href="javascript:void" >隐私保护</a>|  
				<a href="javascript:void" >联系我们</a> |
				<a href="javascript:void" >免责条款</a> | 
				<a href="javascript:void" >公司简介</a> |  
				<a href="javascript:void" >意见反馈</a> 
			</p>
			 
			<p class="copyright_info">ICP备案证书号:<a href="{$configs.shop_url}" target="_blank">{$configs.ICP}</a> POWERED BY<a href="{$configs.shop_url}" target="_blank">嗨购驿站</a>1.0</p>
	</div>
</div>