<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>嗨购驿站后台管理登录</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="shortcut icon" href="../favicon.ico" />
<link rel="icon" href="../animated_favicon.gif" type="image/gif" />
<link rel="stylesheet" type="text/css" href="__index__/css/purebox_login.css" />
<link rel="stylesheet" type="text/css" href="__index__/css/login.css" />
<script type="text/javascript" src="__index__/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="__index__/js/jquery.cookie.js"></script>
<script type="text/javascript" src="__index__/js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="__index__/js/jquery.validation.min.js"></script>
<script type="text/javascript" src="__index__/js/lib_ecmobanfunc.js"></script>

<script type="text/javascript">
//若cookie值不存在，则跳出iframe框架
// if(!$.cookie('dscActionParam') && $.cookie('admin_type') != 1){
// 	$.cookie('admin_type','1' , {expires: 1 ,path:'/'});
// 	top.location.href = location.href;
// }

var process_request = "<i class='icon-spinner icon-spin'></i>";
var todolist_caption = "记事本";
var todolist_autosave = "自动保存";
var todolist_save = "保存";
var todolist_clear = "清除";
var js_select = "选择";
var js_selected = "已选择";
var jl_money = "金额";
var jl_sure_delete_template = "确定删除该运费模板吗？";
var jl_area_name_no_empty = "地区名称不能为空！";
var jl_no_specialchar = "不能包含特殊字符";
var jl_upload_video_fail = "视频上传失败";
var jl_upload_video_success = "视频上传成功";
var jl_upload_video_format_wrong = "视频上传格式有误";
var jl_processing_export_number = "正在处理导出第";
var jl_page_data = "页数据...";
var jl_completed = "已完成";
var jl_completed_close = "全部完成，请关闭窗口";
var jl_reminder = "温馨提示";
var jl_client_app_no_empty = "客户端应用不可为空";
var jl_message_template_no_empty = "消息模板不可为空";
var jl_this_area_existed = "该地区已存在";
var jl_please_select_album = "请选择相册";
var jl_module_max_add = "此模块最多可添加";
var jl_ge_image = "个图片";
var jl_ge_goods = "个商品";
var jl_delete = "删除";
var jl_please_select = "请选择...";
var jl_cate_no_empty = "分类名称不能为空";
var jl_navbar_no_exist = "导航不存在";
var jl_goods_import = "商品库商品导入";
var user_name_empty = "管理员用户名不能为空!";
var password_empty = "密码不能为空!";
var password_invaild = "密码必须同时包含字母及数字且长度不能小于6!";
var email_empty = "Email地址不能为空!";
var email_error = "Email地址格式不正确!";
var pwd_confirm_empty = "确认密码不能为空";
var old_password_empty = "旧密码不能为空";
var old_password_error = "旧密码不正确";
var new_password_empty = "新密码不能为空";
var new_password_error = "密码长度不能小于六位";
var password_error = "两次输入的密码不一致!";
var captcha_empty = "您没有输入验证码!";
var username_password_error = "用户名或密码错误!";
var pwd_bit_format = "只能包括中文字、英文字母、数字和下划线";
</script>
</head>

<body>
	<div class="login-layout">
    	<div class="logo">
        	
        </div>
        <form  name='theForm' id="theForm" method="post">
            <div class="login-form" style="position: relative">
                <div class="formContent">
                	<div class="title">嗨购驿站后台管理登录</div>
                    <div class="formInfo">
                    	<div class="formText">
                        	<i class="icon icon-user"></i>
                            <input type="text" name="username" autocomplete="off" class="input-text" value="" placeholder="用户名" />
                        </div>
                        <div class="formText">
                        	<i class="icon icon-pwd"></i>
                                <input type="password" style="display:none"/> 
                            <input type="password" name="password" autocomplete="off" class="input-text" value="" placeholder="密  码" />
                        </div>

                        <div class="formText submitDiv">
                            <span class="submit_span">
                            	<input type="button" name="submit" class="sub sub_curr" value="登录" />
                            </span>
                        </div>
                    </div>
                </div>
                <div id="error" style="position: absolute;left:0px;bottom: 55px;text-align: center;width:395px;">
                    <span class="error" style="font-size:15px;color:white"></span>
                </div>
            </div>
        </form>
    </div>
    <div id="bannerBox">
        <ul id="slideBanner" class="slideBanner">
            <li><img src="__index__/img/banner_1.jpg"></li>
            <li><img src="__index__/img/banner_2.jpg"></li>
        </ul>
    </div>
<script type="text/javascript" src="__index__/js/jquery.purebox.js"></script>   
<script type="text/javascript">
    	$("#bannerBox").slide({mainCell:".slideBanner",effect:"fold",interTime:3500,delayTime:500,autoPlay:true,autoPage:true,endFun:function(i,c,s){
			$(window).resize(function(){
				var width = $(window).width();
				var height = $(window).height();
				s.find(".slideBanner,.slideBanner li").css({"width":width,"height":height});
			});
		}});

        $(function(){
			$(".formText .input-text").focus(function(){
				$(this).parent().addClass("focus");
			});
			
			$(".formText .input-text").blur(function(){
				$(this).parent().removeClass("focus");
			});
			
			$(".checkbox").click(function(){
				if($(this).hasClass("checked")){
					$(this).removeClass("checked");
                    $('input[name=remember]').val(0);
				}else{
					$(this).addClass("checked");
                    $('input[name=remember]').val(1);
				}
			});
			
			$(".formText .input-yzm").focus(function(){
				$(this).prev().show();
			});
			
			$(".formText").blur(function(){
				$(this).prev().hide();
			});
			
            $('.submit_span .sub').on('click',function(){
                $('.code').show();
            });
            $('#theForm input[name=submit]').on('click',function(){
                var username=$('#theForm input[name=username]').val();
                var password=$('#theForm input[name=password]').val();
                var captcha=true;
				// var dsc_token = $(":input[name='dsc_token']").val();
            
				
                if($('#theForm input[name=username]').val() == ''){
                    $('#error').html('<span class="error" style="font-size:15px;color:white">'+user_name_empty+'</span>');
                    $('#theForm input[name=username]').focus();
                    username = false;
                    return false;
                }

                if($('#theForm input[name=password]').val() == ''){
                    $('#error').html('<span class="error" style="font-size:15px;color:white">'+password_empty+'</span>');
                    $('#theForm input[name=password]').focus();
                    password = false;
                    return false;
                }

                if($('#theForm input[name=captcha]').val() == ''){
                    $('#error').html('<span class="error">'+captcha_empty+'</span>');
                    $('#theForm input[name=captcha]').focus();
                    captcha = false;
                    return false;
                }

                // 验证账号密码
                $.ajax({
                    type: "POST",
                    url: "{:url('admin/Login/login')}",
                    data:{username:username,password:password},
                    success:function(data){
                        if(data == 1){
                            $('#error').html('<span class="error" style="font-size:15px;color:white">'+'账号或密码不正确'+'</span>');
                        }else if(data == 2){
                            $('#error').html('<span class="error" style="font-size:15px;color:white">'+'账号或密码不正确'+'</span>');
                        }else{
                            location.href = "{:url('admin/Index/index')}";
                        }
                    }
                });


                if(captcha){
					$.ajax({
						async:false,
						url:'privilege.php?act=signin&type=captcha',
						data:{'captcha':$('#theForm input[name=captcha]').val(),'dsc_token':dsc_token},
						type:'post',
						success:function(data){
							if(data == 'false'){
								$('#error').html('<span class="error">您输入的验证码不正确。</span>');
								captcha = false;
								return false;
							}
						}
					});
                }
                if(captcha && $('#theForm input[name=username]').val() != '' && $('#theForm input[name=password]').val() != ''){
                    $.ajax({
                        async:false,
                        url:'privilege.php?act=signin&type=password',
                        data:{'username':$('#theForm input[name=username]').val(),'password':$('#theForm input[name=password]').val(),'dsc_token':dsc_token},
                        type:'post',
                        success:function(data){
                            if(data == 'false'){
                                $('#error').html('<span class="error">'+username_password_error+'</span>');
                                $('.code-img img').attr('src','index.php?act=captcha&'+Math.random());
                                username=false;
                                password=false;
                                return false;
                            }
                        }
                    });
                }

                if(captcha && username && password){
                    $('#theForm').submit();
                }else{
                    return false;
                }
            });
			
			$(document).click(function(e){
				if(e.target.name !='captcha' && !$(e.target).parents("div").is(".submitDiv")){
					$('.code').hide();
				}
			});
			
			/* 判断浏览器是ie6 - ie8 后台不可以进入*/
			if(!$.support.leadingWhitespace){
				notIe();
			}
        });	
    </script>
</body>
</html>
